.plantName {
  display: inline-block;
}

.moistureLevel {
  position: relative;
}

.backgroundBar {
  background-color: gray;
  height: 14px;
  border-radius: 14px;
}

.waterThreshold {
  background-color: red;
  width: 4px;
  height: 28px;
  position: absolute;
  z-index: 1;
}

.currentMoistureLevel {
  position: absolute;
  height: 14px;
  max-width: 100%;
  border-radius: 14px;
}

.plantSummary {
  padding: 4px 20px 30px;
  background-color: lemonchiffon;
  border-radius: 10px;
  margin-bottom: 12px;
}
