
.form {
  display: inline;
}

.editingName {
  margin: 1rem 0;
  background-color: transparent;
  border: dashed thin gray;
  padding: 5px;
  color: gray;
  font-style: italic;
}

.iconWrapper {
  margin-left: 16px;
}
